.welcome-message {
  font-size: 2.5em;
  background-color: rgb(142, 225, 47);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5em;
  background-color: rgb(225, 47, 47);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
